.form{
    padding: 3rem; 

    &__group{
        width:46%;
        &:not(:last-child){
            margin-bottom: 2rem;
        }
    }

    &__input{
        font-size: 1.7rem;
        background-color: rgba($color-white,0.5);
        padding: 1.5rem 2rem;
        border: none;
        display: block;
        width: 100%;
        border-bottom: 3px solid transparent;
        transition: all .3s;
        
        &--Name{
            text-transform: capitalize;
        }

        &:focus{
            outline: none;
            box-shadow: 0 1rem 2rem rgba($color-black,0.1);
            border-bottom: 3px solid $color-primary;
        }

        &:focus:invalid{
            border-bottom: 3px solid $color-secondary-dark;
        }

        &:-webkit-input-placeholder{
            color:#999;
        }
    }

    &__label{
        font-size: 1.7rem;
        margin-left: 2rem;
        margin-top: .7rem;
        font-weight: 700;
        display: block;
        transition: all .3s;
    }
    &__input:placeholder-shown + &__label{
        opacity: 0;
        visibility: hidden;
        transform: translateY(-4rem);
    }

    &__radio-group{
        width: 49%;
        display: inline-block;
        font-size: 1.7rem;
        padding-left: 4rem;
        position: relative;

    }

    &__radio-input{
        opacity: 0;
    }

    &__radio-button{
        height: 3rem;
        width:  3rem;
        border-radius: 50%;
        border: 3px solid $color-primary;
        display: inline-block;
        position: absolute;
        top: 0;
        left: 5%;

        &::after{
            content: "";
            display: inline-block;
            height: 1.5rem;
            width: 1.5rem;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            background-color: $color-primary;
            opacity: 0;
            transition: opacity .2s;
        }
    }

    &__radio-input:checked ~ &__radio-label &__radio-button::after{
        opacity : 1;
    }
}